body {
    background: #e2fffb;
    text-align: center;
    font-family: Verdana,sans-serif;
}

/*-----Menu----------*/
.menu {
    text-decoration: none;
    font-size: 15pt;
    margin: 10px;
}

.menu:hover{
    text-decoration: underline;
    font-size: 150%
}

/*---------Links----------*/
a{
    text-decoration: none;
    color: darkslateblue;
    font-weight: bold;
}

a:hover{
    text-decoration: underline overline;
    font-weight: bolder
}
/*-----------Listas----------*/
li {
    list-style-type: none;
    padding: 7px;
    text-align: center;
}

dl {
    padding: 30px;
}
dt {
    font-weight: bold;
    padding: 10px;
}

dd {
    font-style: italic;
}

/*-----Formato de texto---------*/
h1 {
    color: black;
    font-family: "Candy Round BTN", "Brush Script Std";
    font-size: 40pt;
    text-align: center;
    margin: auto;
    padding : 30px;
}

h2 {
    font-family: "Candy Round BTN", "Brush Script Std" ;
    font-size: 30pt;
}

h3 {
    font-family:"Candy Round BTN", "Brush Script Std" ;
    font-size: 20pt;
}

h5 {
    font-family: courier,Arial ;

}

h6 {
    font-family: courier, monospace;
    font-style: italic;
}

p {
    font-family: "Motserrat", sans-serif ;
}

/*----------Formulario------------*/
form {
    padding: 30px;
}

.formulario-input {
    margin: 5px;
    padding: 7px 10px;
    width: 30%;
    font-family: monospace, courier;
}
.formulario:hover {
    border: 2px solid black;
}

.formulario-submit {
    padding: 10px 10px;
    text-transform: uppercase;
    width: 97px;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid grey;
    font-family: courier;
}

.formulario-submit:hover {
    background: #5bd33b;
    border: 3px solid black;
}

.formulario-texto {
    height: 100px;
    width: 40%;
}

label {
    font-family: monospace, courier;
    font-weight: bold;
}

/*---------Tabla-----------*/
table {
    border-collapse: collapse;
    width: 350px;
    margin: auto;
    background: #bae0f1;
    color: #0c6862;
}

td, th {
    border: 2px outset black;
    padding: 4px;
}

.Titulo-tabla {
    text-transform: uppercase;
    font-weight: bold;
    font-family: BATAVIA;
}


/*----------Imágenes----------*/

.imagen {
    padding: 20px;
}

/*------------Divisores--------*/
div {
    margin: 30px 0 0 0 ;
}